/*说明：1 a:link[href^="http://"]:black*/
/*说明：2 a:link[href^="javascript:void(null)"]:#FFCC00*/
/*说明：3 剩下的链接（就是本地链接）：a:blue*/
/*说明：4 除上停1、2、3，剩下的是非链接#c71585（有本位置的字体颜色表示*/

/*1 overall*/
/*2 top and footer*/
/*3 mainx div tab1-tab4 and oneself*/
/*4 div tab5(TV layer)*/
/*5 div tab6-tab7 and float4*/
/*6 menu */
/*7 menu3 */

/*1 overall*/
*{  
	margin:0;
	padding:0;
}
 
#tab a:link[href^="http://"],#tab a:visited[href^="http://"],
#tab2 a:link[href^="http://"],#tab2 a:visited[href^="http://"],
#tab3 a:link[href^="http://"],#tab3 a:visited[href^="http://"],
#tab4 a:link[href^="http://"],#tab4 a:visited[href^="http://"],
#tab7 a:link[href^="http://"],#tab7 a:visited[href^="http://"],
#tab8 a:link[href^="http://"],#tab8 a:visited[href^="http://"]
{ 
color:black;
 }
 
 
#tab a:link[href^="javascript:void(null)"],#tab a:visited[href^="javascript:void(null)"],
#tab2 a:link[href^="javascript:void(null)"],#tab2 a:visited[href^="javascript:void(null)"],
#tab3 a:link[href^="javascript:void(null)"],#tab3 a:visited[href^="javascript:void(null)"],
#tab4 a:link[href^="javascript:void(null)"],#tab4 a:visited[href^="javascript:void(null)"]
{
color:#00FF00;
color:#FFCC00;
cursor:url(rose.ani);
}
#tab4 h3 a:link[href^="javascript:void(null)"],#tab4 h3 a:visited[href^="javascript:void(null)"]
{
color:#00FF00;
color:black;
cursor:url(rose.ani);
}
a:link {/*tool bar and ones*/
	text-decoration: none;
	cursor:url(rose.ani);
}

a:visited {/*tool bar and ones*/
	text-decoration: none;
	color:#005681;
	font-size:12px;
}
a:hover {
	text-decoration: underline;
	background-color: #CCCCCC;
}
#tab .localf a:link,#tab .localf a:visited,
#tab2 .localf a:link,#tab2 .localf a:visited,
#tab3 .localf a:link,#tab3 .localf a:visited,
#tab4 .localf a:link,#tab4 .localf a:visited,
#tab8 .localf a:link,#tab8 .localf a:visited
{
color:blue;
cursor:url(banana.ani);
}
 .localf a:link, .localf a:visited
{
color:blue;
cursor:url(banana.ani);
}
#tab .webf a:link,#tab .webf a:visited,
#tab2 .webf a:link,#tab2 .webf a:visited,
#tab3 .webf a:link,#tab3 .webf a:visited,
#tab4 .webf a:link,#tab4 .webf a:visited
{
color: black;
cursor:url(rose.ani);
}

body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom:0px;
/*	background:url(images/b1.jpg) no-repeat 30px 10px;*/

	font-family:"MV Boli",Times,宋体;
	font-size:1em;
}

div li{
	list-style:none;
	float:left;
}

table tr td{
	font-size:12px;
}

#bg12 { 
	 	background: url(images/b2.gif) no-repeat 1020px 515px; 
	margin:auto; 
	position: relative;
	
	
	}
	
#frame {
	width:75.29%;/*  1275*72.29=960px   */
	margin:auto;
	height:620px;/*  firstly 590px;   */
	border:0px solid #000000;/*用于衡量窗口大小*/

}/*1 overall*/

/*2 top and footer     被main8 tab8代替了*/
.footertop{
	width:100%;
	float:left;
	height:53px;/*最开始的一行是19px;*/
	/*clear:both;*/
	border-top:1px solid #999999;
	margin-top:6px;
	padding-top:6px;
	overflow:hidden;
}
.footertop ul{
	width:100%;
	float:left;
	overflow:hidden;
		height:1.1em;
}
.footertop li{
display:block;
	padding-left:6px;
	font-size:12px;
	width:48px;

	overflow:hidden;
}
/*.footertop li.baidu{
margin-top:-6px;

}
.footertop li.baidu2{
width:190px;
margin-top:0px;
padding:0;
}*/

input{
height:14px;

}

#footer{ /* total height:19+1+5+5*/
	width:100%;
	float:left;
	height:22px;/*17px*/
	/*clear:both;*/
	text-align:center;
	border-top:1px solid #999999;
	margin-top:3px;
	padding-top:1px;
	font-size:12px;
	overflow:hidden;
}

#footer table{
 width:635px;
 	  background-color:#ffe4e1;/*浅玫瑰色*/
 /*background-color:#808000;/*橄榄色*/*/
/* background-color:#eee8aa;/*苍麒麟色*/*/
/*  background-color:#7b68ee;/*中暗蓝色*/*/
 /*  background-color:#e6e6fa;/*淡紫色*/*/
  /*  background-color:#f0ffff;/*天蓝色*/*/
	/* background-color:#5f9ea0;/*军蓝色*/*/

 
 border:0px black solid;

 text-align:center;
 margin:auto; 
 }
 #footer table td{
 
 }
 /* width="635px" border="0" cellspacing="0"  align="center" cellpadding="1" bgcolor="#5f9ea0"*/
.topup{/*top have 3 layer,topup,top,topdown*/
	margin:auto;
	width:100%;
	height:14px;
	color:#000099;
	font-size:12px;
	overflow:hidden;
	padding-top:4px;
}
#topup1{
	margin:auto;
	width:36%;
	float:left;
	font-size:12px;
	border:0px solid #000000;
	height:18px;
	text-align:left;
	
}
#topup2{
	margin:auto;
	width:46%;
	float:left;
	font-size:12px;
	text-align:left;
	overflow:hidden;
	margin-bottom:2px;
	border:0px solid #000000;
	height:16px;
}
#topup3{
	margin:auto;
	width:18%;
	float:left;
	font-size:12px;
	text-align:right;
	border:0px solid #000000;
	height:18px;
	padding-top:3px;
}
.topdown{/* total height:16+2＝18   */
	width:100%;
	height:16px;
	color:#000099;
	float:left;
	margin-top:2px;
}

#top {
	width:100%;
	height:66px;
	background-image:url(top.jpg);
	background-repeat:no-repeat;
	color:#FFFFFF;
	background-color:#CCCCCC;
	float:left;
}

#topleft{
	width:33.33%;
	height:66px;
	float:left;
}
.top11{ /* size=250*33(23+10) */
	width:100%;
	float:left;
	height:23px;
	text-align:left;
	padding-top:10px;
	font-family:"草檀斋毛泽东字体";
	font-size:1.3em;
	padding-left:9px;
	/* filter : progid:DXImageTransform.Microsoft.RevealTrans ( duration="6" , transition="6" );*/
	z-index:3;
}
/*#top112{
	width:100%;
	float:left;
	height:23px;
	text-align:left;
	padding-top:10px;
	font-family:"草檀斋毛泽东字体";
	font-size:1.3em;
	padding-left:9px;
position:absolute;
}*/
.top21{
	width:100%;
	float:left;
	height:23px;
	text-align:center;
	padding-top:10px;
	overflow:hidden;
	font-size:16px;
}
.white16{/*随意的风*/
	color:#FFFFFF;
	font-size:16px;
}

#topright{
	width:66.67%;
	height:66px;
	float:right;
	filter:Alpha(opacity:100);
	font-size:12px;
}

#topright a:link,#topright a:visited{
	color:#ffffff;
	text-decoration:none;
	font-size:12px;
}
#topup3 a:link,#topup2 a:visited{
	color:#000000;
	text-decoration:none;
	font-size:12px;
}/*2 top and footer*/

/*3 mainx div tab1-tab4 and oneself*/
#mainx {
	width:100%;
	float:left;
	height:368px;/* 520-18-66-18-30*/
}

#mainx p{
	height:22px;
	display:inline;
}

.main {
	width:100%;
	height:184px;
	position:relative;
	overflow:hidden;
}
.right, .left{
	width:50%;
	float:left;
	height:184px;
}
/*.left{
border-right: #CCCCCC 1px dashed;
width:49%;
}*/

#tab,#tab2,#tab3,#tab4 {
	position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	width:100%;/* 定义选项卡的整体宽度 */
	height:184px;
	clear:both;
} 

#tab div,
#tab2 div,
#tab3 div,
#tab4 div {
	position:absolute;
	top:28px;
	left:0px;
	width:100%;
	height:156px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab .block,
#tab2 .block,
#tab3 .block,
#tab4 .block{
	display:block;
	padding-bottom:6px;
	border-right: #CCCCCC 1px dashed;
	
	
} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab h3,
#tab2 h3,
#tab3 h3,
#tab4 h3 {/*total h:26+1*2=28   */
	float:left;
	width:15.83%;
	height:1.625em;
	margin:1px 1px; /* 利用负边距让标题更靠近一点 */
	line-height:1.625em;
	font-size:1em;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	background:#EEEEEE url(tab_bg.gif) no-repeat right top;
	background-position:right;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	overflow:hidden;
	filter:Alpha(opacity:100)
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */
#tab4 h3 a:visited{
	font-size:16px;
	color:#00007F;
}

#tab .up,
#tab2 .up,
#tab3 .up,
#tab4 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab ul,
#tab2 ul,
#tab3 ul,
#tab4 ul,
#ones ul{
	margin:4px 0 0;
	list-style:none;
	padding-left:5px;
}

#tab li,
#tab2 li,
#tab3 li,
#tab4 li,
#ones li {
	display:block; /*最先设计是display:inline, 解决IE6中双倍间距的BUG,但文档在设计模式下错位（浏览器下没有影响） */
	float:left;
	width:19.79%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:1.15em;
	line-height:1.15em;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
}
.sp1{/*li的栏头*/
	color:#0000FF;
}
#tab ul>li,
#tab2 ul>li,
#tab3 ul>li,
#tab4 ul>li,
#ones ul>li {
color:#c71585;
}
.sp2{/*tab3 p36 saying*/
	height:18px;
	text-indent: 6px;
}
#tab li a,
#tab2 li a,
#tab3 li a,
#tab4 li a,
#ones li a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
	color:blue;
}

#tab li a:hover,/*以下五个位置的链接属性是http://的定义为black*/
#tab2 li a:hover,
#tab3 li a:hover,
#tab4 li a:hover,
#ones li a:hover {
	color:#0000FF;
	margin-left:0px;/*文字会形成移动*/
}
#tab li a:visited,
#tab2 li a:visited,
#tab3 li a:visited,
#tab4 li a:visited,
#ones li a:visited,
#footertop li a:visited {
	color:#0000FF;
	color:#000000;
	margin-left:0px;/*文字会形成移动*/
	color:blue;
}

#ones{
	position:absolute;
	top:325px;
	left:51.20%;
	width:38%;
	height:160px;
	visibility: hidden;
	display:block;
	padding-bottom:6px;
	}
#ones ul {
	padding:0;
	list-style:none;
}
/*li宽度为190px的CSS;*/

#tab ul .li2,
#tab2 ul .li2,
#tab3 ul .li2,
#tab4 ul .li2,
#ones ul .li2 {
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:39.58%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
}
#tab ul .li2 a,
#tab2 ul .li2 a,
#tab3 ul .li2 a,
#tab4 ul .li2 a,
#ones ul .li2 a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
}
#tab ul .li2 a:hover,
#tab2 ul .li2 a:hover,
#tab3 ul .li2 a:hover,
#tab4 ul .li2 a:hover,
#ones ul .li2 a:hover {
	margin-left:0px;/*文字会形成移动*/
}
#tab ul .li2 a:visited,
#tab2 ul .li2 a:visited,
#tab3 ul .li2 a:visited,
#tab4 ul .li2 a:visited,
#ones ul .li2 a:visited {
	margin-left:0px;/*文字会形成移动*/
	
}/*3 mainx div tab1-tab4 and oneself*/

/*4 div tab5(TV layer)*/

#main5 {
	width:100%;
	float:left;
	height:52px;/* 520-18-66-18-30*/
	border-top:1px solid #999999;
	margin-top:5px;
	padding-top:3px;
	border-bottom:0px solid black;
	margin-bottom:0px
}
#tab5 {
	position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	width:100%;/* 定义选项卡的整体宽度 */
	height:54px;
	clear:both;
	color:#c71585;
} 

#tab5 div {
	position:absolute;
	top:0px;
	left:60px;
	width:93.75%;
	height:55px;/* 204-28(H3)-6(bottom)*/
	display:none;
	
}

#tab5 .block{/*no modi*/
	display:block;
	padding-bottom:0px;

} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab5 h3 {/*total h:26+1*2=28   */
	width:5.73%;
	height:13px;
	margin:0px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:0.8125em;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	/*font-family: "MV Boli";*/
	text-align:left;
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */


#tab5 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
	background-color:#333333;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab5 ul{/*no modi*/
	margin:0px 0 0;
	list-style:none;
	display:block;
	float:left;
	width:6%;
	overflow:hidden;
}

#tab5 li{
display:block;
/*	display:inline; /* 解决IE6中双倍间距的BUG */*/
	/*float:left;*/
	/*width:6%; /* 解决IE浏览器中相对值宽度计算的BUG */*/
	width:100%;
	height:18px;
	line-height:18px;
	border-bottom:0px dashed #DEDEDE;
	overflow:hidden;
	font-size:12px;
	clear:both;
}

#tab5 ul>li{
/*color:#000000;*/

}
#tab5 li a {/*no modi*/
	font-size:12px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
	color:#000000;
	color:black;
	
}

#tab5 li a:hover{
	color:#000000;
		color:black;
	margin-left:0px;/*文字会形成移动*/
	
}
#tab5 li a:visited{/*no modi*/
	color:#000;color:black;
	margin-left:0px;/*文字会形成移动*/
	
}
#tab5 ul .f12{
font-size:10px;
border-left:#CC6600 solid 1px;
}
#tab5 .fontr{
font-size:10px;
color:red;
}
#tab5 .fontb{
font-size:10px;
 
}
/*4 div tab5(TV layer)*/



/*5 div tab6-tab7 and float4*/
.floatms {/* 两边的固定层,中间列 */
	width:17px;
	height:270px;
	font-size:16px;
	letter-spacing:4px;
	float:right;
	overflow:hidden;
	margin:3px ;
	writing-mode:tb-rl;
}

#float1b,#float2b,#float3b,#float4b {/* 1st固定层 */
	width:8.80%;
	height:49.12%;
	position:absolute;
	overflow:hidden;
	color:#FF0000;
	border:0px solid #FF0000;
	visibility:hidden;
	top:2.11%;
}

#float1b {/* 1st固定层 */
	left:0.96%;
	top:2.11%;
}

#float2b {/* 4th固定层 */
	right:2.56%;
	top:12px;
}

#float3b {/* 3rd固定层 */
	left:0.96%;
	top:286px;
}

#float4b {/* 4th固定层 */
	right:2.56%;
	top:286px;
}

#tab6{
	position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	left:2.40%;
	top:5.26%;
	width:10.00%;/* 定义选项卡的整体宽度 */
	height:555px;
	clear:both;
} 

#tab7{
	position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	left:88.76%;
	top:5.26%;
	width:11.20%;/* 定义选项卡的整体宽度 */
	height:555px;
	clear:both;
	overflow:hidden;
	color:#c71585;
} 
#tab7 a:link,#tab7 a:visited{
font-size:100%;
}
#tab6 div,#tab7 div{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
    height:555px;
	display:none;
	filter:Alpha(opacity:100)
}

#tab6 .block,#tab7 .block{
	display:block;
	padding-bottom:6px;
	overflow:hidden;
	font-size:14px;
}

#tab6 p,#tab7 p{
	height:18px;
	overflow:hidden;
}/*5 div tab6-tab7 and float4*/

/*6 menu */
#nav {
    position:absolute;
    z-index:1;
    left: 34%;
    top: 85px;
    width:40.00%;
    height:18px;
    padding:0px 0px;
}


/*#nav ul {
    margin:0px;
    padding:0px;
	
}*/

#nav li {
    list-style:none;
    text-align:center;
    float:left;
	font-size:16px;
	vertical-align:middle;
	width:100%;
}
#nav li a {
    text-decoration:none;
	color:#400000;
	font-size:16px;
	width:100%;
}
#nav .list {
    line-height:24px;
    text-align:left;
    padding:0px;
    font-weight:normal;
	
}
#nav .list a {
    color:#FF3AC1;
	color:#B39E2D;
    text-decoration:none;
    float:left;
    width:100%;
    padding:0px 0px 0px 0px;
}
#nav .list a:hover {
    color:white;
    padding:0px 0px 0px 0px;
    width:100%;
	background-color:#6699FF;

}

#nav .menu1 {
    width:19.00%;
    height:auto;
    margin:0px 0px 0px 0px;
    border:1px solid #0000CC;
	border-top-color:#fff;
    background-color:#F1FBEC;
    color:#FF3AC1;
    padding:0px 0px 0px 3px;
    cursor:hand;
    overflow-y:hidden;
   /* filter:Alpha(opacity=100);*/
}
#nav .list > li{
    border-bottom:1px solid #fff;
}
#nav .menu2 {
    width:19.00%;
    height:20px;
    margin:0px 0px 0px 0px;
    color:#999999;
    border:0px solid #EEE8DD;
    padding:0px 0px 0px 0px;
    overflow:hidden;
    cursor:hand;
	}
#nav .menu2 li a{
overflow:hidden;
}	
	
	
	/*6 menu */

/*7 menu3 */
.fix {
	position:absolute;
	top:87px;
	left:64.00%;
}
#fix2 {
	position:absolute;
	top:87px;
	left:69.00%;
}
#fix3 {
	position:absolute;
	top:87px;
	left:56.00%;
}

.menu3 {
    /*padding:0 0 0 32px;*/
    margin:0;
    list-style:none;
    height:22px;
   /* background:#fff;*/
    position:relative;/*做为子对象定位的参照对象*/
    z-index:500;
}
.menu3 a:hover{
background-color:#FFFFFF;
}

.menu3 li.top {
    display:block;
    float:left;

	
}

.menu3 li a.top_link {
    display:block;
    float:left;
    height:22px;
    line-height:18px;
    color:#ccc;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    padding:0 0 0 12px;
    cursor:pointer;
}
.menu3 li a.top_link span {
    float:left;
    display:block;
    height:22px;
}
.menu3 li a.top_link span.down {
    float:left;
    display:block;
    height:22px;
}

.menu3 a:hover {/* Style the list OR link hover. Depends on which browser is used */
    visibility:visible;
    position:relative;
    z-index:200;
}
.menu3 li:hover {
    position:relative;
    z-index:200;
}

.menu3 ul,/* keep the 'next' level invisible by placing it off screen. */ 
.menu3:hover ul ul, /*只有在hover的ul下才再有ul*/
.menu3:hover ul:hover ul ul, 
.menu3:hover ul:hover ul:hover ul ul,
.menu3:hover ul:hover ul:hover ul:hover ul ul {
    position:absolute;
    left:-9999px;
    top:-9999px;/*让某层以下的全部层不可见*/
    width:0;
    height:0;
    margin:0;
    padding:0;
    list-style:none;
}
.menu3:hover ul.sub {/*.sub前没有空格，是指类限制在前面的选择符下使用*/
    left:8px;
    top:19px;/*第一层只用了22px的高，而这是第二层的应用，相对于第一层的位置；相对于上面的一个选择符，重新应用sub,让其拉回来；*/
   
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;
    width:100%;
    height:auto;
    z-index:300;
		width:80px;/*子框架的宽*/
		 background: #F1FBEC;/*第二层的颜色*/
	border: #CCCC66 solid 1px;
}
.menu3:hover ul.sub li {
    display:block;
    height:18px;
    position:relative;
    float:left;
    width:100%;
    font-weight:normal;
	
}
.menu3:hover ul.sub li a {
	display:block;
	font-size:16px;
	height:18px;
	width:100%;
	line-height:18px;
	text-indent:5px;
	color:#000;

	text-decoration:none;
		overflow:hidden;
/*	white-space:nowrap;*/
text-overflow:clip;/*不显示省略标记（...），而是简单的裁切*/
}
.menu3:hover ul.sub li a.fly {
	color:#6A0000;
}

.menu3:hover ul.sub li a:hover {
	color:#0000CC;
}

.menu3:hover ul.sub li a.hover {
	color:#0066CC; 
/*	background:#663399;*/
}
.menu3 :hover ul :hover ul,/*触发列表li标签的鼠标经过时显示其子级的无序列表ul中的内容*/
.menu3 :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul :hover ul {
    left:100%;
    top:-4px;/*上层元素都用了相对当位，此外用left,top做自己的定位；*/
   		 background: #F1FBEC;/*第三、四层的颜色*/
	border: #CCCC66 solid 1px;
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;/*规定段落中的文本不进行换行*/
    width:100%;
    z-index:400;/*设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。*/
    height:auto;
	text-transform:capitalize;/*文本中的每个单词以大写字母开头。*/

}/*7 menu3 */

/*
<ul>
<li><span class="sp1"></span></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul> 
*/
.time{
	font-family :"Comic Sans Ms";
	font-size : 12pt;
	font-weight : bold;
	color: #00008D;
}
#tim1{
	position:absolute;
	width:50px; 
	height:20px; 
	top:-4px; 
	left:71%
}
#tim2{
	position:absolute; 
	filter:flipv() alpha(opacity=20);
	left:71.5%;
	font-style:italic;
	top:-2px;
}
#floater{
	HEIGHT: 50px; 
	POSITION: absolute; 
	WIDTH: 50px;  
	z-index:2; 
	left:-100px; 
	top:-100px;
}


/*4 div tab8(T00l layer)*/

#main8 {
	width:100%;
	float:left;
	height:54px;/* 520-18-66-18-30*/
	border-top:1px solid #999999;
	margin-top:5px;
	padding:3px 0;
}
#tab8 {
	position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	width:100%;/* 定义选项卡的整体宽度 */
	height:54px;
	clear:both;
	color:#c71585;
} 

#tab8 div {
	position:absolute;
	top:0px;
	left:60px;
	width:93.75%;
	height:54px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab8 .block{/*no modi*/
	display:block;
	padding-bottom:0px;

} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab8 h3 {/*total h:26+1*2=28   */
	width:5.73%;/*5.73%*/
	height:13px;
	margin:0px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:0.8125em;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	/*font-family: "MV Boli";*/
	text-align:left;
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */


#tab8 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
	background-color:#333333;
	color:#FF0000;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab8 ul{/*no modi*/
	margin:0px 0 0;
	list-style:none;
}

#tab8 li{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:6.25%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:0px dashed #DEDEDE;
	overflow:hidden;
	font-size:12px;
}
#tab8 ul>li{
/*color:#000000;*/

}
#tab8 li a {/*no modi*/
	font-size:12px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
	color:blue;
}

#tab855 li a:hover{
background-color:#0000CC;
color:#CC3333;
	margin-left:0px;/*文字会形成移动*/
}
#tab8 ul .f12{
font-size:10px;
}
#tab8 .fontr{
font-size:10px;
color:red;
}
#tab8 .fontb{
font-size:10px;
color:blue;
}
#tab8 li a:visited{/*no modi*/
	color:#000;
	margin-left:0px;/*文字会形成移动*/
	
}/*4 div tab8(tool layer)*/
#tab8 li.baidu{
margin-top:-4px;
margin-left:-10px;
height:24px;

}
#tab8 li.baidu2{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:21%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	}
	
#fix3 li .high8{
height:5px;
background-color:#FFCCCC;
}
.sou{
position:relative;
}
.sou2{
position:relative; clear:both; float:left; overflow:hidden;
}